<div class='sheet-skill-inventory'>
  <div class="action-title"><span>&lt;UTILITY&gt;</span></div>
  <div class='skill-container drop-zone'>
    {{#each items}}
      {{#if (eq this.type 'skill')}}
        {{#if (notEqual this.system.skillType 'offensive')}}
          <div class="skill-item" data-item-id='{{this._id}}'>
             <button title='{{this.name}}' class='item-view skill-box' data-action='skill-view' data-item-id='{{this._id}}' id="skill-box">
              <img src='{{this.img}}'></img><span class="skill-name">{{this.name}}</span>
              </button>
              {{#if (notEqual this.system.skillType 'passive')}}
                <button class="skill-button use-skill-roll" data-action="use-skill" data-item-id="{{this._id}}"><span>{{#if (eq this.system.skillType 'buff')}}Toggle{{else}}Use{{/if}}</span></button>
                <button class="skill-button send-chat-roll" data-action="send-skill-to-chat" data-item-id="{{this._id}}"><img src="systems/ss1e/assets/images/chat-icon.png" alt=""></button>
               {{else}}
                 {{#if this.system.usesCustomMacro}}
                <button class="skill-button use-skill-roll" data-action="use-skill" data-item-id="{{this._id}}"><span>Use</span></button>
                {{/if}}
              {{/if}}
          </div>
        {{/if}}
      {{/if}}
    {{/each}}
  </div>
</div>