<div class='sheet-skill-inventory'>
  <div class="action-title"><span>&lt;SKILLS&gt;</span></div>
  <div class='skill-container drop-zone'>
    {{#each items}}
      {{#if (eq this.type 'skill')}}
      
          {{#if (eq this.system.isAttackSkill false)}}
      <div class="skill-item" data-item-id='{{this._id}}'>
        <button title='{{this.name}}' class='item-view skill-box' data-action='skill-view' data-item-id='{{this._id}}' id="skill-box">
          <img src='{{this.img}}'></img><span class="skill-name">{{this.name}}</span>
        </button>
        {{#if (eq this.system.skillType 'offensive')}}
          <button class="skill-button skill-accuracy-roll" data-action="roll-skill-accuracy" data-item-id="{{this._id}}" id="roll-skill-accuracy"><img src="systems/ss1e/assets/images/target-icon.png"></button>
          <button class="skill-button skill-damage-roll" data-action="roll-skill-damage" data-item-id="{{this._id}}" id="roll-skill-damage"><img src="systems/ss1e/assets/images/damage-icon.png"></button>
          <button class="skill-button send-chat-roll" data-action="send-skill-to-chat" data-item-id="{{this._id}}"><img src="systems/ss1e/assets/images/chat-icon.png" alt=""></button>
          
        {{/if}}
        {{#if (notEqual this.system.skillType 'offensive')}}
          {{#if (notEqual this.system.skillType 'passive')}}
            <button class="skill-button use-skill-roll" data-action="use-skill" data-item-id="{{this._id}}"><span>Use</span></button>
            <button class="skill-button send-chat-roll" data-action="send-skill-to-chat" data-item-id="{{this._id}}"><img src="systems/ss1e/assets/images/chat-icon.png" alt=""></button>
          {{else}}
            {{#if this.system.usesCustomMacro}}
            <button class="skill-button use-skill-roll" data-action="use-skill" data-item-id="{{this._id}}"><span>Use</span></button>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
      {{/if}}
      {{/if}}
    {{/each}}
  </div>
</div>