<form class='{{cssClass}} {{actor.type}} flexcol' autocomplete='off'>
  <nav class='sheet-tabs tabs'>
    <a class='item' data-tab='features'>Constellation MACRO</a>
    <a class='item' data-tab='inventory'>Scenario Builder</a>
    <a class='item' data-tab='abilities'>System Messaging</a>
    <!-- Add more tabs as necessary -->
  </nav>
  <section class='ss1e sheet actor gmboard'>
    <div class='sheet-body'>
      <div class='tab' data-tab='features'>
        <div class='multi-constellation-dialog'>
          <div class='preset-recipient'>
            <label for='gmboardMessageRecipient' class=''>Constellation Messsage Recipient:</label>
            <select id='gmboardMessageRecipient' name='gmboardMessageRecipient' class='message-recipient-dropdown'>
              <option value='public'  class='message-recipient-option' >Public</option>
              {{#each players}}
                <option value='{{this.id}}' class='message-recipient-option'>{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class='message-bottom-section'>
            <div class='checkbox-grid'>
              {{#each constellations}}
                <div class='checkbox-container'>
                  <input
                    type='checkbox'
                    id='{{this.id}}'
                    name='{{this.name}}'
                    value='{{this.id}}'
                    class='message-speaker-checkbox'
                  />
                  <label for='{{this.id}}'>{{this.name}}</label>
                </div>
              {{/each}}
            </div>
          </div>
		      {{> constellation-messages-gmboard }}
        </div>
    </div>
    <div class='tab' data-tab='inventory'>
      <div id='scenario-form'>
        <div class="form-line">
          <label for='scenario-name'>Scenario Name:</label>
          <input type='text' id='scenario-name' name='scenario-name' />
        </div>
        <div class="form-line">
          <label for='scenario-category'>Scenario Category:</label>
          <select name="scenario-category" id="scenario-category">
            <option value="Main Scenario">Main Scenario</option>
            <option value="Sub-Scenario">Sub-Scenario</option>
            <option value="Bounty Scenario">Bounty Scenario</option>
            <option value="Hidden Scenario">Hidden Scenario</option>
            <option value="Personal Scenario">Personal Scenario</option>
            <option value="???">???</option>

          </select>
        </div>
        <div class="form-line">
          <label for='scenario-difficulty'>Difficulty Rank:</label>
          <select name="scenario-difficulty" id="scenario-difficulty">
            <option value="C">C</option>
            <option value="B">B</option>
            <option value="A">A</option>
            <option value="S">S</option>
            <option value="S+">S+</option>
            <option value="SS">SS</option>
            <option value="SSS">SSS</option>
            <option value="???">???</option>
          </select>
        </div>
        <div class="form-line">
          <label for='scenario-conditions'>Clear conditions:</label>
          <prose-mirror
            id='scenario-conditions'
            name='scenario-conditions'
            placeholder="1. Don't Die\n2. Don't Die\n3. Don't Die"
          ></prose-mirror>
        </div>
        <div class="form-line">
          <label for='scenario-time-limit'>Time Limit:</label>
          <input
            type='text'
            id='scenario-time-limit'
            name='scenario-time-limit'
          />
        </div>
        <div class="form-line">
          <label for='scenario-reward'>Reward:</label>
          <input type='text' id='scenario-reward' name='scenario-reward' />
        </div>
        <div class="form-line">
          <label for='scenario-fail-condition'>Failure Condition:</label>
          <input type='text' id='scenario-fail-condition' name='scenario-fail-condition' />
        </div>
        <div class="form-line">
          <label for='scenario-fail'>Failure Penalty:</label>
          <input type='text' id='scenario-fail' name='scenario-fail' />
        </div>
        <div class="form-line">
          <label for='scenario-notes'>Notes:</label>
          <prose-mirror
            id='scenario-notes'
            name='scenario-notes'
            placeholder="Notes go here, Leave empty if none."
          ></prose-mirror>
        </div>
        <div class='scenario-recipient'>
            <label for='gmboardScenarioRecipient' class=''>Scenario Recipient:</label>
            <select id='gmboardScenarioRecipient' name='gmboardScenarioRecipient' class='scenario-recipient-dropdown'>
              <option value='public'  class='scenario-recipient-option' >Everyone</option>
              {{#each players}}
                <option value='{{this.id}}' class='scenario-recipient-option'>{{this.name}}</option>
              {{/each}}
            </select>
          </div>
        <button class="scenario-button" type='submit' id='scenario-submit'>!INITIATE SCENARIO!</button>
      </div>
    </div>
    <div class='tab' data-tab='abilities'>
      <div class="starstream-message-input">
        <label for='starstreamMessage'>Custom System Message:</label>
        <textarea id='starstreamMessage' name='starstreamMessage' class='starstream-message-textarea'></textarea>
        <div class='starstream-recipient'>
            <label for='starstreamMessageRecipient' class=''>System Message Recipient:</label>
            <select id='starstreamMessageRecipient' name='starstreamMessageRecipient' class='message-recipient-dropdown'>
              <option value='public'  class='message-recipient-option' >Public</option>
              {{#each players}}
                <option value='{{this.id}}' class='message-recipient-option'>{{this.name}}</option>
              {{/each}}
            </select>
          </div>
        <button class="send-starstream-message" type='submit' id='starstreamMessageSubmit' data-action="sendStarstreamGmboard">Send</button>
      </div>
     </div>
    </div>
  </section>
</form>