<form
	class='{{cssClass}} {{actor.type}} flexcol constellation form'
	autocomplete='off'
>

	<!-- Character Information Section moved to the very top below the controls -->
	<link
		href='https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap'
		rel='stylesheet'
	/>
	<section class='ss1e sheet actor constellation header'>
		<div class='header title'>&lt;CONSTELLATION INFORMATION&gt;</div>
		<div class='header info'>
			<!-- First Column: Profile Image -->
			<img
				class='profile-img'
				src='{{actor.img}}'
				data-edit='img'
				title='{{actor.name}}'
				height='250'
				width='250'
			/>
			<!-- Second Column: Modifier, True Name, Grade, Incarnation -->
			<div class='info-container'>
				<label for='name' class='input-label'>MODIFIER:</label>
				<input
					name='name'
					id='name'
					class='input-text'
					type='text'
					value='{{actor.name}}'
					placeholder='name'
				/>
				<label for='trueName' class='input-label'>TRUE NAME:</label>

				<input
					name='system.trueName'
					id='trueName'
					class='input-text'
					type='text'
					value='{{system.trueName}}'
					placeholder='true_name'
				/>
				<label for='grade' class='input-label'>GRADE:</label>
				<input
					name='system.grade'
					id='grade'
					class='input-text'
					type='text'
					value='{{system.grade}}'
					placeholder='grade'
				/>
				<label for='incarnation' class='input-label'>INCARNATION:</label>
				<input
					name='system.incarnation'
					id='incarnation'
					class='input-text'
					type='text'
					value='{{system.incarnation}}'
					placeholder='incarnation'
				/>
			</div>
		</div>
	</section>
	{{! second part of the sheet, contains coins and chat messages }}
	<section class='ss1e sheet actor constellation actions'>
		<div class='ss1e sheet actor constellation coins'>
			<div class='coin-counter'>
				<label
					for='system.coins'
					class='actor-sheet-label'
					data-label='Coins:'
				>Coins:</label>
				<input
					type='text'
					class='actor-sheet-input'
					name='system.coins'
					value='{{system.coins}}'
					data-dtype='Number'
				/></div>
			<div class='coin-buttons'>
				<button
					class='constellation-sheet-button'
					data-action='openCurrencyPanel'
				>Manage Coins</button>
				<button class='constellation-sheet-button' data-action='sendCoins'>Send
					Coins</button>
			</div>
		</div>
		<div class='ss1e sheet actor constellation messages'>
			<div class='message-top-section'>
				<div class='message-recipient'>
					<label for='messageRecipient' class=''>Select Message Recipient:</label>
					<select
						id='messageRecipient'
						name='messageRecipient'
						class='message-recipient-dropdown'
					>
						<option
							value='public'
							class='message-recipient-option'
						>Public</option>
						{{#each players}}
							<option
								value='{{this.id}}'
								class='message-recipient-option'
							>{{this.name}}</option>
						{{/each}}
					</select>
				</div>
				<div class='preset-message-buttons'>
					<button
						class='constellation-sheet-button'
						data-action='sendPreset'
						data-message='is saddened by the situation.'
						data-cost="200"
					>SADNESS</button>
					<button
						class='constellation-sheet-button'
						data-action='sendPreset'
						data-message='is disgusted by what transpired.'
						data-cost="200"
					>DISGUST</button>
					<button
						class='constellation-sheet-button'
						data-action='sendPreset'
						data-message='rejoices at the sight!'
						data-cost="200"
					>JOY</button>
					<button
						class='constellation-sheet-button'
						data-action='sendPreset'
						data-message='is angered by the choices made!'
						data-cost="200"
					>BORED</button>
					<button
						class='constellation-sheet-button'
						data-action='sendPreset'
						data-message='sighs in boredom.'
						data-cost="200"
					>ANGER</button>
					<button
						class='constellation-sheet-button'
						data-action='sendPreset'
						data-message='jumps up and down with excitement!'
						data-cost="200"
					>EXCITED</button>
					<button
						class='constellation-sheet-button'
						data-action='sendPreset'
						data-message='is covering their eyes!'
						data-cost="200"
					>CANT LOOK</button>
					<button
						class='constellation-sheet-button'
						data-action='sendPreset'
						data-message='has tears streaming down their face!'
						data-cost="200"
					>CRY</button>
					<button
						class='constellation-sheet-button'
						data-action='sendPreset'
						data-message='has joined channel EN-305.'
						data-cost="0"
					>JOIN</button>
					<button
						class='constellation-sheet-button'
						data-action='sendPreset'
						data-message='has left channel EN-305.'
						data-cost="0"
					>LEAVE</button>
					<!-- Add more buttons as needed -->
				</div>
			</div>
			<div class='message-bottom-section'>
				<label for='messageInput' class=''>Type a custom message:</label>
				<input type='text' id='messageInput' class='' placeholder='' />
				<button class='constellation-sheet-button' data-action='sendCustom' data-cost="1000">Send
					Custom Message</button>
			</div>
		</div>
	</section>
</form>