<form class='{{cssClass}} {{actor.type}} flexcol' autocomplete='off'>
  <button class='edit-mode-toggle'>Edit</button>
  <nav class='sheet-tabs tabs'>
    <a class='item' data-tab='features'>CHARACTER</a>
    <a class='item' data-tab='inventory'>INVENTORY</a>
    <a class='item' data-tab='abilities'>COMBAT</a>
    <a class="item" data-tab="details">DETAILS</a>
    {{#if isEditing}}<a class="item" data-tab="debug">DEBUG</a>{{/if}}
  </nav>
  <section class='ss1e sheet actor character'>
    <div class='sheet-body'>
      <div class='tab' data-tab='features'>
        <div class='sheet-title'>&lt;CHARACTER INFORMATION&gt;</div>
        <div class='sheet-header info'>
          <div class='pfp-hp-mana'>
            {{#if isEditing}}
              <img
                class='profile-img'
                src='{{actor.img}}'
                data-edit='img'
                title='{{actor.name}}'
                height='180'
                width='180'
              />
            {{else}}
              <img
                class='profile-img'
                src='{{actor.img}}'
                title='{{actor.name}}'
                height='180'
                width='180'
              />
            {{/if}}
            <div class='hp-mana-container'>
              <div class='hp-block' id='hp-bar' data-action="hp-bar">
                <div class='hp-bar-container'>
                  <div
                    class='hp-bar'
                    style='width: {{hpBarWidth}}%;'
                  ></div><span
                    class='hp-text'
                  >{{system.healthCurrent}}/{{system.healthMaxTotal}}&nbsp;&#40;+{{system.healthMaxTempBonus}}&#41;</span>

                </div>
              </div>
              <div class='mana-block' id='mana-bar' data-action="mana-bar">
                <div class='mana-bar-container'>
                  <div
                    class='mana-bar'
                    style='width: {{manaBarWidth}}%;'
                  ></div><span
                    class='mana-text'
                  >{{system.manaCurrent}}/{{system.manaMaxTotal}}&nbsp;&#40;+{{system.manaMaxTempBonus}}&#41;</span>
                </div>
              </div>
            </div>
          </div>
          <div class='info-container'>
            <label for='name' class='input-label'>NAME:</label>
            {{#if isEditing}}
              <input
                name='name'
                id='name'
                class='input-text'
                type='text'
                value='{{actor.name}}'
                placeholder='Name'
              />
            {{else}}
              <span>{{actor.name}}</span>
            {{/if}}

            <label for='age' class='input-label'>AGE:</label>
            {{#if isEditing}}
              <input
                type='text'
                id='age'
                class='input-text'
                name='system.age'
                value='{{system.age}}'
                data-dtype='Number'
                placeholder='Age'
              />
            {{else}}
              <div>{{system.age}}</div>
            {{/if}}
            <label for='race' class='input-label'>RACE:</label>
            {{#if isEditing}}
              <input
                type='text'
                id='age'
                class='input-text'
                name='system.race'
                value='{{system.race}}'
                placeholder='Race'
              />
            {{else}}
              <span>{{system.race}}</span>
            {{/if}}
          </div>
          <div class='attribute-container'>
            <div class='attributes'>
              <label for='sponsor'>SPONSOR:</label>
              {{#if isEditing}}
                <input
                  type='text'
                  id='sponsor'
                  class='input-text'
                  name='system.sponsor'
                  value='{{system.sponsor}}'
                  placeholder='Sponsor'
                />
              {{else}}
                <span>{{system.sponsor}}</span>
              {{/if}}
              <label>ATTRIBUTES:</label>
              {{#if isEditing}}
                <input
                  type='text'
                  id='attributes'
                  class='input-text'
                  name='system.attributes'
                  value='{{system.attributes}}'
                  placeholder='Attributes'
              {{else}}
                <span>{{system.attributes}}</span>
              {{/if}}
              <label>STIGMAS:</label>
              {{#if isEditing}}
                <input
                  type='text'
                  id='stigmas'
                  class='input-text'
                  name='system.stigmas'
                  value='{{system.stigmas}}'
                  placeholder='Stigmas'
                />
              {{else}}
                <span>{{system.stigmas}}</span>
              {{/if}}
              <label>STORIES:</label>
              {{#if isEditing}}
                <input
                  type='text'
                  id='stories'
                  class='input-text'
                  name='system.stories'
                  value='{{system.stories}}'
                  placeholder='Stories'
                />
              {{else}}
                <span>{{system.stories}}</span>
              {{/if}}
            </div>
          </div>
        </div>
        <div class='body'>
          <div class='stat-related'>
            <div class='combat-stat-container'>
              <div class='combat-stat-block'>
                <label class='evasion-label' for='evasion-stat'>Initiative:&nbsp;</label>
                <div class="stat-numbers">
                <span class='evasion-stat'>{{system.initiativeTotal}}</span>
                <span id="temp-initiative" class="initiative-stat" data-action="edit-temp-stat">&nbsp;&#40;+{{system.initiativeTempBonus}}&#41;</span>
                </div>
              </div>
              <div class='combat-stat-block'>
                <label class='evasion-label' for='evasion-stat'>Evasion:&nbsp;</label>
                <div class="stat-numbers">
                <span class='evasion-stat'>{{system.evasionTotal}}</span>
                <span id="temp-evasion" class="evasion-stat" data-action="edit-temp-stat">&nbsp;&#40;+{{system.evasionTempBonus}}&#41;</span>
                </div>
              </div>
              <div class='combat-stat-block'>
                <label class='accuracy-label' for='accuracy-stat'>Accuracy:&nbsp;</label>
                <div class="stat-numbers">
                <span class='accuracy-stat'>{{system.accuracyTotal}}</span>
                <span id="temp-accuracy" class="accuracy" data-action="edit-temp-stat">&nbsp;&#40;+{{system.accuracyTempBonus}}&#41;</span>
                </div>
              </div>
              <div class='combat-stat-block'>
                <label class='armor-label' for='armor-stat'>Armor:&nbsp;</label>
                <div class="stat-numbers">
                <span class='armor-stat'>{{system.armorTotal}}</span>
                <span id="temp-armor" class="armor-stat" data-action="edit-temp-stat">&nbsp;&#40;+{{system.armorTempBonus}}&#41;</span>
                </div>
              </div>
            </div>
            <div class='stat-container'>
            <div class='stat-flexrow'>
              <div class='combat-stat-block'>
                <label class='str-label' for='str-stat' data-action='rollStat' data-key='str'>Strength:&nbsp;</label>
                <div class="stat-numbers">
                  {{#if isEditing}}
                  Base Strength:
                  <input
                  type='number'
                  id='strBase'
                  class='input-text'
                  name='system.strBase'
                  value='{{system.strBase}}'
                  placeholder='Base Strength'
                />
                {{else}}
                <span class='str-stat'>{{system.strTotal}}</span>
                <span id="temp-str" class="str-stat" data-action="edit-temp-stat">&nbsp;&#40;+{{system.strTempBonus}}&#41;</span>
                {{/if}}
                </div>
              </div>
              <button class='resource-span' data-action='attributeLevelUp' data-key='str'>+</button>
            </div>
            <div class='stat-flexrow'>
              <div class='combat-stat-block'>
                <label class='agi-label' for='agi-stat' data-action='rollStat' data-key='agi'>Agility:&nbsp;</label>
                <div class="stat-numbers">
                  {{#if isEditing}}
                  Base Agility:
                  <input
                  type='number'
                  id='agiBase'
                  class='input-text'
                  name='system.agiBase'
                  value='{{system.agiBase}}'
                  placeholder='Base Agility'
                />
                {{else}}
                <span class='agi-stat'>{{system.agiTotal}}</span>
                <span id="temp-agi" class="agi-stat" data-action="edit-temp-stat">&nbsp;&#40;+{{system.agiTempBonus}}&#41;</span>
                {{/if}}
                </div>
              </div>
              <button class='resource-span' data-action='attributeLevelUp' data-key='agi'>+</button>
            </div>
            <div class='stat-flexrow'>
              <div class='combat-stat-block'>
                <label class='con-label' for='con-stat' data-action='rollStat' data-key='con'>Constitution:&nbsp;</label>
                <div class="stat-numbers">
                  {{#if isEditing}}
                  Base Constitution:
                  <input
                  type='number'
                  id='conBase'
                  class='input-text'
                  name='system.conBase'
                  value='{{system.conBase}}'
                  placeholder='Base Constitution'
                />
                {{else}}
                <span class='con-stat'>{{system.conTotal}}</span>
                <span id="temp-con" class="con-stat" data-action="edit-temp-stat">&nbsp;&#40;+{{system.conTempBonus}}&#41;</span>
                {{/if}}
                </div>
              </div>
              <button class='resource-span' data-action='attributeLevelUp' data-key='con'>+</button>
            </div>
            <div class='stat-flexrow'>
              <div class='combat-stat-block'>
                <label class='int-label' for='int-stat' data-action='rollStat' data-key='int'>Intelligence:&nbsp;</label>
                <div class="stat-numbers">
                  {{#if isEditing}}
                  Base Intelligence:
                  <input
                  type='number'
                  id='intBase'
                  class='input-text'
                  name='system.intBase'
                  value='{{system.intBase}}'
                  placeholder='Base Intelligence'
                />
                {{else}}
                <span class='int-stat'>{{system.intTotal}}</span>
                <span id="temp-int" class="int-stat" data-action="edit-temp-stat">&nbsp;&#40;+{{system.intTempBonus}}&#41;</span>
                {{/if}}
                </div>
              </div>
              <button class='resource-span' data-action='attributeLevelUp' data-key='int'>+</button>
            </div>
          </div>
            <div class='coin-container flexrow'>
              <div class="coin-text-container"><label
              for='system.coins'
              class='resource-label'
              data-label='Coins:'
            >
              Coins:
            </label>
            <span
              class='resource-label'
              name='system.coins'
            >{{system.coins}}</span></div>
            
            <button
              class='resource-label'
              data-action='openCurrencyPanel'
            >MANAGE COINS</button>
            <button class='resource-label' data-action='sendCoins'>SEND COINS</button>
          </div>
        </div>
        </div>
        <div class='bottom'>
          <div class='stat-container'>
            <div class="stat-flexrow">
              <div class="combat-stat-block">
                <label>Damage Increases:</label>
              </div>
            </div>
            {{#each CONFIG.SS1E.stats as |stat|}}
              <div class='stat-flexrow'>
                <div class='combat-stat-block'>
                  <label class='{{stat.short}}-dmg-label' for='{{stat.short}}-dmg-stat'>{{stat.name}}:&nbsp;</label>
                  <div class="stat-numbers">
                    <span class='{{stat.short}}-dmg-stat'>{{getDamageIncreasePercentage ../CONFIG.INCREASES}}%</span>
                    <span id="temp-{{stat.short}}-dmg" class="{{stat.short}}-stat" data-action="edit-temp-stat">&nbsp;&#40;+{{getDamageIncreaseBonusPercentage ../CONFIG.INCREASES}}%&#41;</span>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          <div class="equipped-item-container">
            <div class="gear-container">
              <div class="gear-slot helmet-slot">
                {{#each actor.items as |item|}}
                    {{#if (and (eq item.system.slotOccupied 'Helmet') item.system.equipped)}}
                      <div class="item-slot" data-item-id="{{item.id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="46px" height="46px" data-item-id="{{item.id}}" data-action="item-view">
                      </div>
                    {{/if}}
                {{/each}}
              </div>
              <div class="gear-slot armor-slot">
                {{#each actor.items as |item|}}
                    {{#if (and (eq item.system.slotOccupied 'Armor') item.system.equipped)}}
                      <div class="item-slot" data-item-id="{{item.id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="44px" height="44px" data-item-id="{{item.id}}" data-action="item-view">
                      </div>
                    {{/if}}
                {{/each}}
              </div>
              <div class="gear-slot gloves-slot">
                {{#each actor.items as |item|}}
                    {{#if (and (eq item.system.slotOccupied 'Gloves') item.system.equipped)}}
                      <div class="item-slot" data-item-id="{{item.id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="44px" height="44px" data-item-id="{{item.id}}" data-action="item-view">
                      </div>
                    {{/if}}
                {{/each}}
              </div>
                <div class="gear-slot boots-slot">
                  {{#each actor.items as |item|}}
                      {{#if (and (eq item.system.slotOccupied 'Boots') item.system.equipped)}}
                        <div class="item-slot" data-item-id="{{item.id}}">
                          <img src="{{item.img}}" title="{{item.name}}" width="44px" height="44px" data-item-id="{{item.id}}" data-action="item-view">
                        </div>
                        {{else}}
                      {{/if}}
                  {{/each}}
                </div>
              </div>
            <div class="accessory-container">
              <div class="accessory-slot accessory-slot-one">
                {{#each accessories as |item index|}}
                    {{#if (eq index 0)}}
                      <div class="item-slot" data-item-id="{{item.id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="44px" height="44px" data-item-id="{{item.id}}" data-action="item-view">
                      </div>
                    {{/if}}
                {{/each}}
              </div>
              <div class="accessory-slot accessory-slot-two">
                {{#each accessories as |item index|}}
                    {{#if (eq index 1)}}
                      <div class="item-slot" data-item-id="{{item.id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="44px" height="44px" data-item-id="{{item.id}}" data-action="item-view">
                      </div>
                  {{/if}}
                {{/each}}
              </div>
              <div class="accessory-slot accessory-slot-three">
                {{#each accessories as |item index|}}
                    {{#if (eq index 2)}}
                      <div class="item-slot" data-item-id="{{item.id}}">
                        <img src="{{item.img}}" title="{{item.name}}" width="44px" height="44px" data-item-id="{{item.id}}" data-action="item-view">
                      </div>
                  {{/if}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='tab character-inventory' data-tab='inventory'>
        <div class='sheet-title'>&lt;INVENTORY&gt;</div>
        {{> inventory}}
      </div>
      <div class='tab character-skill-inventory' data-tab='abilities'>
        <div class="combat-resources">
          <div class="pfp-hp-mana">{{#if isEditing}}
              <img
                class='profile-img'
                src='{{actor.img}}'
                data-edit='img'
                title='{{actor.name}}'
                height='64'
                width='64'
              />
            {{else}}
              <img
                class='profile-img'
                src='{{actor.img}}'
                title='{{actor.name}}'
                height='64'
                width='64'
              />
            {{/if}}
          <div class='hp-mana-container'>
            <div class='hp-block' id='hp-bar' data-action="hp-bar">
              <div class='hp-bar-container'>
                <div class='hp-bar'style='width: {{hpBarWidth}}%;'></div>
                <span class='hp-text'>{{system.healthCurrent}}/{{system.healthMaxTotal}}&nbsp;&#40;+{{system.healthMaxTempBonus}}&#41;</span>
               </div>
            </div>
            <div class='mana-block' id='mana-bar'data-action="mana-bar">
              <div class='mana-bar-container'>
                <div class='mana-bar'style='width: {{manaBarWidth}}%;'></div>
                <span class='mana-text'>{{system.manaCurrent}}/{{system.manaMaxTotal}}&nbsp;&#40;+{{system.manaMaxTempBonus}}&#41;</span>
              </div>
             </div>
          </div>
          </div>
          <div class="combat-resource-right-container">
            <div class="ap-container">
            <label>Action&nbsp;Points:&nbsp;</label>
              <span>{{system.actionPointsCurrent}}/{{system.actionPointsMax}}</span>
              <button class="rollable ap-button" data-action="plus-ap"><img src="systems/ss1e/assets/images/plus-icon.png" alt=""></button>
              <button class="rollable ap-button" data-action="minus-ap"><img src="systems/ss1e/assets/images/minus-icon.png" alt=""></button>
              <button class="rollable ap-button" data-action="reset-ap"><img src="systems/ss1e/assets/images/reload-icon.png" alt=""></button>
            </div>
            <div class="weapon-picker-container">
                <div class='attack-roll-container'>
                <label for='attackSkillWeapon' class=''>Weapon used for Attack Skills:</label>
                <select id='attackSkillWeapon' name='system.attackSkillWeapon' class='message-recipient-dropdown'>
                  <option value="none" class="message-recipient-option">None</option>
                  {{#each weapons}}
                    <option value='{{this.id}}' class='message-recipient-option' {{#if (eq ../system.attackSkillWeapon this.id)}}selected{{/if}}>{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="combat-actions">
          {{> skill-inventory}}
          <div class="attack-actions">
            <div class="action-title"><span>&lt;OFFENSIVE&gt;</span></div>
            <div class="attack-roll-container">
              <div class="attack-box"><img src="systems/ss1e/assets/images/unarmed-icon.png" alt=""><span>Unarmed</span></div>
              <button id='roll-accuracy' class='attack-roll attack-accuracy-roll'>
                <img src="systems/ss1e/assets/images/target-icon.png">
              </button>
              <button id='roll-unarmed-damage' class="attack-roll attack-damage-roll">
                <img src="systems/ss1e/assets/images/damage-icon.png" alt="">
              </button>
            </div>
            {{#each actor.items as |item|}}
              {{#if (and (eq item.type 'meleeWeapon') item.system.equipped)}}
                <div class="attack-roll-container">
                    <button class="attack-box" data-action="item-view" data-item-id="{{item.id}}"><img src="{{item.img}}" alt=""><span>&nbsp;{{item.name}}</span></button>
                    <button class='attack-roll attack-accuracy-roll' data-item-id={{item._id}} data-action='rollWeaponAccuracy' id="roll-weapon-accuracy">
                      <img src="systems/ss1e/assets/images/target-icon.png">
                    </button>
                    <button class="attack-roll attack-damage-roll" data-item-id='{{item._id}}' id='roll-melee-weapon' data-action="rollWeaponDamage">
                      <img src="systems/ss1e/assets/images/damage-icon.png" alt="">
                    </button>
                  </div>
              {{/if}}
            {{/each}}
            {{#each actor.items as |weapon|}}
              {{#if
                (and (eq weapon.type 'rangedWeapon') weapon.system.equipped)
              }}
                {{#each actor.items as |ammo|}}
                  {{#if (and (eq ammo.type 'ammo') ammo.system.equipped)}}
                  <div class="attack-roll-container">
                    <div class="attack-box"><img src="{{weapon.img}}" alt=""><span>&nbsp;{{weapon.name}}&nbsp;using&nbsp;{{ammo.name}}</span></div>
                    <button class='attack-roll attack-accuracy-roll' data-item-id={{weapon._id}} data-action='rollWeaponAccuracy' id="roll-weapon-accuracy">
                      <img src="systems/ss1e/assets/images/target-icon.png">
                    </button>
                    <button class="attack-roll attack-damage-roll"data-weapon-id='{{weapon._id}}'data-ammo-id='{{ammo._id}}'id='roll-ranged-weapon'>
                      <img src="systems/ss1e/assets/images/damage-icon.png" alt="">
                    </button>
                  </div>
                  {{/if}}
                {{/each}}
              {{/if}}
            {{/each}}
            {{#each items}}
              {{#if (eq this.type 'skill')}}
                {{#if (eq this.system.skillType 'offensive')}}
                  {{#if (eq this.system.isAttackSkill true)}}
                    <div class="skill-item" data-item-id='{{this._id}}'>
                      <button title='{{this.name}}' class='item-view skill-box' data-action='skill-view' data-item-id='{{this._id}}' id="skill-box">
                        <img src='{{this.img}}'></img><span class="skill-name">{{this.name}}</span>
                      </button>
                      <button class="skill-button skill-accuracy-roll" data-action="roll-skill-accuracy" data-item-id="{{this._id}}" id="roll-skill-accuracy"><img src="systems/ss1e/assets/images/target-icon.png"></button>
                      <button class="skill-button skill-damage-roll" data-action="roll-skill-damage" data-item-id="{{this._id}}" id="roll-skill-damage"><img src="systems/ss1e/assets/images/damage-icon.png"></button>
                      <button class="skill-button send-chat-roll" data-action="send-skill-to-chat" data-item-id="{{this._id}}"><img src="systems/ss1e/assets/images/chat-icon.png" alt=""></button>
                    </div>
                  {{else}}
                  <div class="skill-item" data-item-id='{{this._id}}'>
                    <button title='{{this.name}}' class='item-view skill-box' data-action='skill-view' data-item-id='{{this._id}}' id="skill-box">
                      <img src='{{this.img}}'></img><span class="skill-name">{{this.name}}</span>
                    </button>
                    <button class="skill-button skill-accuracy-roll" data-action="roll-skill-accuracy" data-item-id="{{this._id}}" id="roll-skill-accuracy"><img src="systems/ss1e/assets/images/target-icon.png"></button>
                    <button class="skill-button skill-damage-roll" data-action="roll-skill-damage" data-item-id="{{this._id}}" id="roll-skill-damage"><img src="systems/ss1e/assets/images/damage-icon.png"></button>
                    <button class="skill-button send-chat-roll" data-action="send-skill-to-chat" data-item-id="{{this._id}}"><img src="systems/ss1e/assets/images/chat-icon.png" alt=""></button>
                  </div>  
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>
      <div class="tab" data-tab="details">
        <div class='bottom'>
          <div class='stat-container'>
            <div class='stat-flexrow'>
              <div class='combat-stat-block'>
                <label>Detailed Increases:</label>
              </div>
            </div>
            {{#each CONFIG.SS1E.damageTypes as |damageType|}}
              <div class='stat-flexrow'>
                <div class='combat-stat-block'>
                  <label class='{{damageType}}-dmg-label' for='{{damageType}}-dmg-stat'>{{damageType}}:&nbsp;</label>
                  <div class="stat-numbers">
                    <span class='{{damageType}}-dmg-stat'>{{getDamageIncreasePercentageDamageType ../CONFIG.INCREASES}}%</span>
                    <span id="temp-{{damageType}}-dmg" class="{{damageType}}-stat" data-action="edit-temp-stat">&nbsp;&#40;+{{getDamageIncreaseBonusPercentageDamageType ../CONFIG.INCREASES}}%&#41;</span>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>

          <div class='stat-container'>
            <div class='stat-flexrow'>
              <div class='combat-stat-block'>
                <label>Detailed Resistances:</label>
              </div>
            </div>
            {{#each CONFIG.SS1E.damageTypes as |damageType|}}
              {{#if (notEqual damageType "true")}}
                <div class='stat-flexrow'>
                  <div class='combat-stat-block'>
                    <label class='{{damageType}}-dmg-resist-label' for='{{damageType}}-dmg-resist-stat'>{{damageType}}:&nbsp;</label>
                    <div class="stat-numbers">
                      <span class='{{damageType}}-dmg-resist-stat'>{{getDamageResistancePercentageDamageType ../CONFIG.INCREASES}}%</span>
                      <span id="temp-{{damageType}}-dmg-resist" class="{{damageType}}-resist-stat" data-action="edit-temp-stat">&nbsp;&#40;+{{getDamageResistanceBonusPercentageDamageType ../CONFIG.INCREASES}}%&#41;</span>
                    </div>
                  </div>
                </div>
              {{/if}}
            {{/each}}
          </div>
        </div>
      </div>

      <div class="tab" data-tab="debug">
        <div class="character-details-container">
          {{!-- make a detail row for each data line in the actor object --}}
          {{#each actor.system as |value key|}}
            <div class="detail-row">
              <label for="system.{{key}}" class="input-label">{{key}}:</label>
                <span>{{value}}</span>
            </div>
          {{/each}}
        </div>
      </div>
  </section>
</form>