<div class='skill-info-line'>
	<label class='skill-info-label'>MANA&nbsp;COST:&nbsp;</label>
	{{#if isEditing}}
		<input
			type='number'
			name='system.manaCost'
			placeholder='mana cost'
			value='{{system.manaCost}}'
		/>
	{{else}}
		<div class='skill-info-value'>{{system.manaCost}}</div>
	{{/if}}
</div>
<div class='skill-info-line'>
	<label class='skill-info-label'>AP&nbsp;COST:&nbsp;</label>
	{{#if isEditing}}
		<input
			type='number'
			name='system.apCost'
			placeholder='ap cost'
			value='{{system.apCost}}'
		/>
	{{else}}
		<div class='skill-info-value'>{{system.apCost}}</div>
	{{/if}}
</div>
{{#if (eq system.skillType 'offensive')}}
	{{#if isEditing}}
	<div class='skill-info-line'>
		<label class='skill-info-label'>USES WEAPON?&nbsp;</label>
		<select name="system.isAttackSkill" id="">
			<option value="{{system.isAttackSkill}}">{{system.isAttackSkill}}</option>
			<option value="true">True</option>
			<option value="false">False</option>
		</select>
	</div>
	{{/if}}
	<div class='skill-info-line'>
		<label class='skill-info-label'>DAMAGE&nbsp;ROLL:&nbsp;</label>
		{{#if isEditing}}
			<input
				type='number'
				name='system.diceNum'
				placeholder='number of dice'
				value='{{system.diceNum}}'
			/>
			<input 
				type="text"
				name="system.diceSize"
				placeholder="size of dice" 
				value="{{system.diceSize}}">
			<input
				type='number'
				name='system.diceBonus'
				placeholder='bonus'
				value='{{system.diceBonus}}'
			/>
			<select name="system.damageType">
				<option value="{{system.damageType}}">{{system.damageType}}</option>
				{{#each possibleDamageTypes as |type|}}
					<option value="{{type}}" {{#if (eq system.damageType type)}}selected{{/if}}>{{type}}</option>
				{{/each}}
			</select>
		{{else}}
			<div
				class='skill-info-value'
			>{{system.diceNum}}{{system.diceSize}}&nbsp;+&nbsp;{{system.diceBonus}}&nbsp;{{system.damageType}}</div>
		{{/if}}
	</div>
	<!--<div class='skill-info-line'>
		<label
			class='skill-info-label'
		>SECOND&nbsp;DAMAGE&nbsp;ROLL:&nbsp;</label>
		{{#if isEditing}}
			<input
				type='number'
				name='system.secondDiceNum'
				placeholder='number of dice'
				value='{{system.secondDiceNum}}'
			/>
			<select name="system.secondDiceSize">
				<option value="{{system.secondDiceSize}}">{{system.secondDiceSize}}</option>
				{{#each possibleDice as |dice|}}
					<option value="{{dice}}" {{#if (eq system.secondDiceSize dice)}}selected{{/if}}>{{dice}}</option>
				{{/each}}
			</select>
			<input
				type='number'
				name='system.secondDiceBonus'
				placeholder='bonus'
				value='{{system.secondDiceBonus}}'
			/>

		{{else}}
			<div
				class='skill-info-value'
			>{{system.secondDiceNum}}{{system.secondDiceSize}}&nbsp;+&nbsp;{{system.secondDiceBonus}}</div>
		{{/if}}
	</div>
	<div class='skill-info-line'>
		<label
			class='skill-info-label'
		>THIRD&nbsp;DAMAGE&nbsp;ROLL:&nbsp;</label>
		{{#if isEditing}}
			<input
				type='number'
				name='system.thirdDiceNum'
				placeholder='number of dice'
				value='{{system.thirdDiceNum}}'
			/>
			<select name="system.thirdDiceSize">
				<option value="{{system.thirdDiceSize}}">{{system.thirdDiceSize}}</option>
				{{#each possibleDice as |dice|}}
					<option value="{{dice}}" {{#if (eq system.thirdDiceSize dice)}}selected{{/if}}>{{dice}}</option>
				{{/each}}
			</select>
			<input
				type='number'
				name='system.thirdDiceBonus'
				placeholder='bonus'
				value='{{system.thirdDiceBonus}}'
			/>
		{{else}}
			<div
				class='skill-info-value'
			>{{system.thirdDiceNum}}{{system.thirdDiceSize}}&nbsp;+&nbsp;{{system.thirdDiceBonus}}</div>
		{{/if}}
	</div>
	<div class='skill-info-line'>
		<label
			class='skill-info-label'
		>FOURTH&nbsp;DAMAGE&nbsp;ROLL:&nbsp;</label>
		{{#if isEditing}}
			<input
				type='number'
				name='system.fourthDiceNum'
				placeholder='number of dice'
				value='{{system.fourthDiceNum}}'
			/>
			<select name="system.fourthDiceSize">
				<option value="{{system.fourthDiceSize}}">{{system.fourthDiceSize}}</option>
				{{#each possibleDice as |dice|}}
					<option value="{{dice}}" {{#if (eq system.fourthDiceSize dice)}}selected{{/if}}>{{dice}}</option>
				{{/each}}
			</select>
			<input
				type='number'
				name='system.fourthDiceBonus'
				placeholder='bonus'
				value='{{system.fourthDiceBonus}}'
			/>
		{{else}}
			<div
				class='skill-info-value'
			>{{system.fourthDiceNum}}{{system.fourthDiceSize}}&nbsp;+&nbsp;{{system.fourthDiceBonus}}</div>
		{{/if}}
	</div> -->
	<div class='skill-info-line'>
		<label class='skill-info-label'>ACCURACY:&nbsp;</label>
		{{#if isEditing}}
			<input
				type='number'
				name='system.accuracy'
				placeholder='accuracy'
				value='{{system.accuracy}}'
			/>
		{{else}}
			<div class='skill-info-value'>{{system.accuracy}}</div>
		{{/if}}
	</div>
	<!--<div class='skill-info-line'>
		<label class='skill-info-label'>UPGRADE&nbsp;THRESHOLD:&nbsp;</label>
		{{#if isEditing}}
			<input
				type='number'
				name='system.upgradeThreshold'
				placeholder='upgrade threshold'
				value='{{system.upgradeThreshold}}'
			/>
		{{else}}
			<div class='skill-info -value'>{{system.upgradeThreshold}}</div>
		{{/if}}
	</div>-->
{{/if}}
{{#if (eq system.skillType 'healing')}}
	<div class='skill-info-line'>
		<label class='skill-info-label'>HEALING:&nbsp;</label>
		{{#if isEditing}}
			<input
				type='number'
				name='system.diceNum'
				placeholder='number of dice'
				value='{{system.diceNum}}'
			/>
			<input
				type='text'
				name='system.diceSize'
				placeholder='size of dice'
				value='{{system.diceSize}}'
			/>
			<input
				type='number'
				name='system.diceBonus'
				placeholder='bonus'
				value='{{system.diceBonus}}'
			/>
			<select name="system.damageType">
				<option value="{{system.damageType}}">{{system.damageType}}</option>
				<option value="healing">healing</option>
			</select>
		{{else}}
			<div
				class='skill-info-value'
			>{{system.diceNum}}{{system.diceSize}}&nbsp;+&nbsp;{{system.diceBonus}}</div>
		{{/if}}
	</div>
	<!--<div class='skill-info-line'>
		<label class='skill-info-label'>UPGRADE&nbsp;THRESHOLD:&nbsp;</label>
		{{#if isEditing}}
			<input
				type='number'
				name='system.upgradeThreshold'
				placeholder='upgrade threshold'
				value='{{system.upgradeThreshold}}'
			/>
		{{else}}
			<div class='skill-info -value'>{{system.upgradeThreshold}}</div>
		{{/if}}
	</div>-->
{{/if}}
{{#if (eq system.skillType 'debuff')}}
	<div class='skill-info-line'>
		<label class='skill-info-label'>EFFECT:&nbsp;</label>
		{{#if isEditing}}
			<input
				type='text'
				name='system.effect'
				placeholder='effect'
				value='{{system.effect}}'
			/>
		{{else}}
			<div class='skill-info-value'>{{system.effect}}</div>
		{{/if}}
	</div>
{{/if}}
{{#if (eq system.skillType 'special')}}
	<div class='skill-info-line'>
		<label class='skill-info-label'>EFFECT:&nbsp;</label>
		{{#if isEditing}}
			<input
				type='text'
				name='system.effect'
				placeholder='effect'
				value='{{system.effect}}'
			/>
		{{else}}
			<div class='skill-info-value'>{{system.effect}}</div>
		{{/if}}
	</div>
{{/if}}
{{#if (eq system.skillType 'buff')}}
	<div class='skill-info-line'>
		<label class='skill-info-label'>EFFECT:&nbsp;</label>
		{{#if isEditing}}
			<input
				type='text'
				name='system.effect'
				placeholder='effect'
				value='{{system.effect}}'
			/>
		{{else}}
			<div class='skill-info-value'>{{system.effect}}</div>
		{{/if}}
	</div>
{{/if}}
<div class='skill-info-line'>
	<label class='skill-info-label'>RANGE:&nbsp;</label>
	{{#if isEditing}}
		<input
			type='number'
			name='system.range'
			placeholder='range'
			value='{{system.range}}'
		/>
	{{else}}
		<div class='skill-info-value'>{{system.range}}&nbsp;ft.</div>
	{{/if}}
</div>
<div class='skill-info-line'>
	<label class='skill-info-label'>COOLDOWN:&nbsp;</label>
	{{#if isEditing}}
		<input
			type='number'
			name='system.skillCooldown'
			placeholder='range'
			value='{{system.skillCooldown}}'
		/>
	{{else}}
		<div class='skill-info-value'>{{system.skillCooldown}}&nbsp;rounds</div>
	{{/if}}
</div>
{{#if isEditing}}
	<div class='skill-info-line'>
		<label class='skill-info-label'>USES CUSTOM FUNCTIONALITY?&nbsp;</label>
		<select name="system.usesCustomMacro" id="">
			<option value="system.usesCustomMacro">{{system.usesCustomMacro}}</option>
			<option value="true" {{#if (eq system.usesCustomMacro true)}}selected{{/if}}>True</option>
			<option value="false" {{#if (eq system.usesCustomMacro false)}}selected{{/if}}>False</option>
		</select>
	</div>
	{{#if system.usesCustomMacro}}
		<div class='skill-info-line'>
			<label class='skill-info-label'>CUSTOM MACRO NAME:&nbsp;</label>
			<input
				type='text'
				name='system.customMacro'
				value='{{system.customMacro}}'
			/>
		</div>
	{{/if}}
{{/if}}