<form class='{{cssClass}}' autocomplete='off'>
	<section class='melee-weapon-top-section'>
		<img
			class='melee-weapon-img'
			src='{{item.img}}'
			data-edit='img'
			title='{{item.name}}'
			height='200px'
			width='200px'
		/>
		<div class='melee-weapon-title'>
			<div class='melee-weapon-name'>
				<input
					name='name'
					type='text'
					value='{{item.name}}'
					placeholder='NAME'
				/>
			</div>
			<div class='melee-weapon-rarity'>
				<label for='system.rarity'>RARITY:</label>
				<input
					name='system.rarity'
					type='text'
					value='{{system.rarity}}'
					placeholder='COMMON'
				/>
			</div></div>
	</section>

	{{! Sheet Body }}
	<section class='melee-weapon-bottom-section'>
		<div class='stats'>
			<div class='requirement'>
				<label for='system.requirement'>REQUIRES:</label>
				<input
					name='system.requirement'
					type='text'
					value='{{system.requirement}}'
					placeholder=''
				/>
				<input
					name='system.requirement-type'
					type='text'
					value='{{system.requirement-type}}'
					placeholder='str'
				/>
			</div>
			<div class='damage'>
				<label for='system.damage'>DAMAGE:</label>
				<input
					name='system.damageFormula'
					type='text'
					value='{{system.damageFormula}}'
					placeholder='1d4'
				/>
				<input
					name='system.type'
					type='text'
					value='{{system.type}}'
					placeholder='radiant'
				/>
			</div>
			<div class='accuracy'>
				<label for='system.accuracy'>
					ACCURACY:
				</label>
				<input
					name='system.accuracy'
					type='text'
					value='{{system.accuracy}}'
					placeholder='1'
				/>
			</div>
			<div class='range'>
				<label for='system.range'>
					RANGE:
				</label>
				<input
					name='system.range'
					type='text'
					value='{{system.range}}'
					placeholder='1'
				/>

			</div>
		</div>
		<div class='description'>
			<label for='meleeWeaponDesc'>LORE:</label>
			<textarea name='meleeWeaponDesc' id='meleeWeaponDesc'></textarea>
		</div>
	</section>
	<section class='melee-weapon-actions'>
		<button>ROLL ACCURACY</button>
		<button>ROLL DAMAGE</button>
		<button>SEND TO SOMEONE</button>
	</section>
</form>