<form class='{{cssClass}} flexcol' autocomplete='off'>
	<button class='edit-mode-toggle'>Edit</button>
	{{! Sheet Tab Navigation }}
	<nav class='sheet-tabs tabs' data-group='primary'>
		<a class='item' data-tab='description'>Description</a>
		<a class="item" data-tab="stats">Details</a>
		<a class='item' data-tab='attributes'>Active Effects</a>
	</nav>
	<div class='sheet-body'>
		<div class='tab' data-tab='description'>
			<section class='weapon-top-section'>
				<div class='weapon-title'>
					<img
					class='weapon-img'
					src='{{item.img}}'
					data-edit='img'
					title='{{item.name}}'
					height='140px'
					width='140px'
				/>
					<div class='weapon-name'>
						{{#if isEditing}}
							<input
								name='name'
								type='text'
								value='{{item.name}}'
								placeholder='NAME'
							/>
						{{else}}
							<div>{{item.name}}</div>
						{{/if}}
					</div>
					<div class='weapon-rarity'>
						<label for='system.rating'>RATING:&nbsp;</label>
						{{#if isEditing}}
							<select name="system.rating">
								<option value="{{system.rating}}">{{system.rating}}</option>
								{{#each possibleRatings as |rating|}}
									<option value="{{rating}}" {{#if (eq system.rating rating)}}selected{{/if}}>{{rating}}</option>
								{{/each}}
							</select>
						{{else}}
							<div class="rating" data-rating="{{system.rating}}">{{system.rating}}</div>
						{{/if}}
					</div>
					<div class="item-description">
					{{#if isEditing}}
						<prose-mirror class="editor prosemirror"name="system.description" value="{{system.description}}"></prose-mirror>
					{{else}}
						<div>{{{system.description}}}</div>
					{{/if}}
					</div>
				</div>
			</section>
		</div>
		<div class="tab" data-tab="stats">
			<section class='weapon-bottom-section'>
				<div class='stats'>
					<div class="slot">
						<label for='system.slotOccupied'>OCCUPIES:&nbsp;</label>
						{{#if isEditing}}
							<select name="system.slotOccupied">
								<option value="{{system.slotOccupied}}">{{system.slotOccupied}}</option>
								{{#each possibleSlots as |slot|}}
									<option value="{{slot}}" {{#if (eq system.slotOccupied slot)}}selected{{/if}}>{{slot}}</option>
								{{/each}}
							</select>
						{{else}}
							<span>{{system.slotOccupied}}</span>
						{{/if}}
					</div>
					<div class='requirement'>
						<label for='system.requirement'>REQUIRES:&nbsp;</label>
						{{#if isEditing}}
							<input
								name='system.requirement.value'
								type='text'
								value='{{system.requirement.value}}'
								placeholder=''
							/>
							<select name="system.requirement.type">
								<option value="{{system.requirement.type}}">{{system.requirement.type}}</option>
								{{#each possibleStats as |stat|}}
									<option value="{{stat}}" {{#if (eq system.requirement.type stat)}}selected{{/if}}>{{stat}}</option>
								{{/each}}
							</select>
						{{else}}
							<span>{{system.requirement.value}}
								{{system.requirement.type}}</span>
						{{/if}}
					</div>
					<div class='damage'>
						<label for='system.damage'>DAMAGE:&nbsp;</label>
						{{#if isEditing}}
							<input
								name='system.damageRoll.diceNum'
								type='number'
								value='{{system.damageRoll.diceNum}}'
								placeholder='1'
							/>
							<input 
								type="text" 
								name="system.damageRoll.diceSize" 
								value="{{system.damageRoll.diceSize}}" 
								placeholder="size of dice"
							/>
							<input
								name='system.damageRoll.diceBonus'
								type='number'
								value='{{system.damageRoll.diceBonus}}'
								placeholder='1'
							/>
							<select name="system.damageType">
								<option value="{{system.damageType}}">{{system.damageType}}</option>
								{{#each possibleDamageTypes as |type|}}
									<option value="{{type}}" {{#if (eq system.damageType type)}}selected{{/if}}>{{type}}</option>
								{{/each}}
							</select>
						{{else}}
							<span>{{system.damageFormula}}&nbsp;</span>
							<span>{{system.damageType}}</span>
						{{/if}}
					</div>
					<div class='accuracy'>
						<label for='system.accuracy'>
							ACCURACY:&nbsp;
						</label>
						{{#if isEditing}}
							<input
								name='system.accuracy'
								type='text'
								value='{{system.accuracy}}'
								placeholder='1'
							/>
						{{else}}
							<span>{{system.accuracy}}</span>
						{{/if}}
					</div>
					<div class='range'>
						<label for='system.range'>
							RANGE:&nbsp;
						</label>
						{{#if isEditing}}
							<input
								name='system.range'
								type='text'
								value='{{system.range}}'
								placeholder='1'
							/>
						{{else}}
							<span>{{system.range}}</span>
						{{/if}}
					</div>
				</div>
			</section>
		</div>
		<div class='tab' data-tab='attributes'>
			<div class='effects-body'>
				{{> "item-effects" effects=effects}}
				<button class="effect-control" data-action="create">Add Effect</button>
			</div>
		</div>
	</div>
</form>