<form class='{{cssClass}} flexcol' autocomplete='off'>
  <button class='edit-mode-toggle'>Edit</button>

  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Item Description</a>
    <a class='item' data-tab='attributes'>Edit effects</a>
  </nav>
  <div class='sheet-body'>
    <div class='tab' data-tab='description'>
		<div class="skill-description-sheet">
			<section class="skill-title">
			<div class='skill-info-line'>
            {{#if isEditing}}
              <input
                name='name'
                type='text'
                value='{{item.name}}'
                placeholder='NAME'
              />
            {{else}}
              <div class="skill-name">{{item.name}}</div>
            {{/if}}
          </div>
		  </section>
      <section class='skill-top-section'>
		<div class="skill-img-container">
        <img
          class='skill-img'
          src='{{item.img}}'
          data-edit='img'
          title='{{item.name}}'
          height='50px'
          width='50px'
        />
		</div>
		<div class="skill-description-box">
		{{#if isEditing}}
			<textarea name="system.description" class="skill-description-textarea">{{system.description}}</textarea>
		{{else}}
			<div class="skill-description">{{system.description}}</div>
		{{/if}}
		</div>
      </section>
	  <section class="skill-bottom-section">
		<div class='skill-shared-stats'>
          <div class='skill-info-line'>
			<label class='skill-info-label'>SKILL&nbsp;RATING:&nbsp;</label>
            {{#if isEditing}}
              <input
                name='system.rating'
                type='text'
                value='{{system.rating}}'
                placeholder='RATING'
              />
            {{else}}
              <div class="skill-info-value">{{system.rating}}</div>
            {{/if}}
          </div>
          <div class="skill-info-line">
			<label class='skill-info-label'>MANA&nbsp;TYPE:&nbsp;</label>
            {{#if isEditing}}
              <input
                name='system.manaType'
                type='text'
                value='{{system.manaType}}'
                placeholder='MANA TYPE'
              />
            {{else}}
              <div class="skill-info-value">{{system.manaType}}</div>
            {{/if}}
          </div>
          <div class="skill-info-line">
			<label class='skill-info-label'>SKILL&nbsp;TYPE:&nbsp;</label>
            {{#if isEditing}}
              <input
                name='system.skillType'
                type='text'
                value='{{system.skillType}}'
                placeholder='SKILL TYPE'
              />
            {{else}}
				<div class="skill-info-value">{{system.skillType}}</div>
            {{/if}}
          </div>
		  <div class="skill-info-line">
			<label class='skill-info-label'>SKILL&nbsp;STAT:&nbsp;</label>
			{{#if isEditing}}
			<input
				name="system.requirement.type"
				type="text"
				value="{{system.requirement.type}}"
				placeholder='Skill Stat'>
			{{else}}
			<div class="skill-info-value">{{system.requirement.type}}</div>
			{{/if}}
		  </div>
        </div> <!-- Close skill-info -->
		<div class='skill-specific-stats'>
		{{> skill-sheet-description}}
		</div>
	  </section>
	  </div>
    </div> <!-- Close tab description -->
		<div class='tab' data-tab='attributes'>
			<div class='effects-body'>
				{{> "item-effects" effects=effects}}
				<button class="effect-control" data-action="create">Add Effect</button>
			</div>
		</div>
	</div>
</form>