<form class='{{cssClass}} flexcol' autocomplete='off'>

	<button class='edit-mode-toggle'>Edit</button>
	<nav class='sheet-tabs tabs' data-group='primary'>
		<a class='item' data-tab='description'>Description</a>
		<a class="item" data-tab="stats">Details</a>
		<a class='item' data-tab='attributes'>Active Effects</a>
	</nav>
	<div class='sheet-body'>
		<div class='tab' data-tab='description'>
			<section class='ammo-top-section'>
				<div class='ammo-title'>
					<img
					class='ammo-img'
					src='{{item.img}}'
					data-edit='img'
					title='{{item.name}}'
					height='140px'
					width='140px'
				/>
					<div class='ammo-name'>
						{{#if isEditing}}
							<input
								name='name'
								type='text'
								value='{{item.name}}'
								placeholder='NAME'
							/>
						{{else}}
							<div>{{item.name}}</div>
						{{/if}}
					</div>
					<div class='ammo-rarity'>
						<label for='system.rating'>RATING:&nbsp;</label>
						{{#if isEditing}}
							<select name="system.rating">
								<option value="{{system.rating}}">{{system.rating}}</option>
								{{#each possibleRatings as |rating|}}
									<option value="{{rating}}" {{#if (eq system.rating rating)}}selected{{/if}}>{{rating}}</option>
								{{/each}}
							</select>
						{{else}}
							<div data-rating="{{system.rating}}">{{system.rating}}</div>
						{{/if}}
					</div>
					<div class="item-description">
					{{#if isEditing}}
					<prose-mirror class="editor prosemirror"name="system.description" value="{{system.description}}"></prose-mirror>
					{{else}}
					<div>{{{system.description}}}</div>
					{{/if}}
					</div>
				</div>
			</section>
		</div>
		<div class="tab" data-tab="stats">
			<section class='ammo-bottom-section'>
				<div class='stats'>
					<div class='damage'>
						<label for='system.damage'>DAMAGE:&nbsp;</label>
						{{#if isEditing}}
							<input
								name='system.damageRoll.diceNum'
								type='text'
								value='{{system.damageRoll.diceNum}}'
								placeholder='1'
							/>
							<select name="system.damageRoll.diceSize">
								<option value="{{system.damageRoll.diceSize}}">{{system.damageRoll.diceSize}}</option>
								{{#each possibleDice as |dice|}}
									<option value="{{dice}}" {{#if (eq system.damageRoll.diceSize dice)}}selected{{/if}}>{{dice}}</option>
								{{/each}}
							</select>
							<input
								name='system.damageRoll.diceBonus'
								type='text'
								value='{{system.damageRoll.diceBonus}}'
								placeholder='1'
							/>
							<select name="system.damageType">
								<option value="{{system.damageType}}">{{system.damageType}}</option>
								{{#each possibleDamageTypes as |type|}}
									<option value="{{type}}" {{#if (eq system.damageType type)}}selected{{/if}}>{{type}}</option>
								{{/each}}
							</select>
						{{else}}
							<span>{{system.damageFormula}}&nbsp;</span>
							<span>{{system.damageType}}</span>
						{{/if}}
					</div>
				</div>
			</section>
		</div>
		<div class='tab' data-tab='attributes'>
			<div class='effects-body'>
				{{> "item-effects" effects=effects}}
				<button class="effect-control" data-action="create">Add Effect</button>
			</div>
		</div>
	</div>
</form>