<form class='{{cssClass}} flexcol' autocomplete='off'>
  <button class='edit-mode-toggle'>Edit</button>

  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Item Description</a>
    <a class='item' data-tab='attributes'>Edit effects</a>
  </nav>
  <div class='sheet-body'>
    <div class='tab' data-tab='description'>
      <section class='weapon-top-section'>
        <img
          class='weapon-img'
          src='{{item.img}}'
          data-edit='img'
          title='{{item.name}}'
          height='50px'
          width='50px'
        />
        <div class='skill-info'>
          <div class='skill-name'>
            {{#if isEditing}}
              <input
                name='name'
                type='text'
                value='{{item.name}}'
                placeholder='NAME'
              />
            {{else}}
              <div>{{item.name}}</div>
            {{/if}}
          </div>
          <div class='skill-rating'>
            {{#if isEditing}}
              <input
                name='system.rating'
                type='text'
                value='{{system.rating}}'
                placeholder='RATING'
              />
            {{else}}
              <div>{{system.rating}}</div>
            {{/if}}
          </div>
          <div class="skill-mana-type">
            {{#if isEditing}}
              <input
                name='system.manaType'
                type='text'
                value='{{system.manaType}}'
                placeholder='MANA TYPE'
              />
            {{else}}
              <div>{{system.manaType}}</div>
            {{/if}}
          </div>
          <div class="skill-type">
            {{#if isEditing}}
              <input
                name='system.skillType'
                type='text'
                value='{{system.skillType}}'
                placeholder='SKILL TYPE'
              />
            {{else}}
              <div>{{system.skillType}}</div>
            {{/if}}
          </div>
		  {{> skill-sheet-description}}
        </div> <!-- Close skill-info -->
      </section>
    </div> <!-- Close tab description -->
		<div class='tab' data-tab='attributes'>
			<div class='effects-body'>
				{{> "item-effects" effects=effects}}
				<button class="effect-control" data-action="create">Add Effect</button>
			</div>
		</div>
	</div>
</form>