<form class='{{cssClass}} flexcol' autocomplete='off'>
	<link
		href='https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap'
		rel='stylesheet'
	/>
	<section class='accessory-top-section'>
		<img
			class='accessory-img'
			src='{{item.img}}'
			data-edit='img'
			title='{{item.name}}'
			height='200px'
			width='200px'
		/>
		<div class='accessory-title'>
			<div class='accessory-name'>
				<input
					name='name'
					type='text'
					value='{{item.name}}'
					placeholder='NAME'
				/>
			</div>
			<div class='accessory-rarity'>
				<label for='system.rarity'>RARITY:</label>
				<input
					name='system.rarity'
					type='text'
					value='{{system.rarity}}'
					placeholder='COMMON'
				/>
			</div></div>
	</section>

	{{! Sheet Body }}
	<section class='accessory-bottom-section'>
		<div class='stats'>
			<div class='bonus'>
				<label for='system.bonus'>BONUS:</label>
				<input
					name='system.bonus'
					type='text'
					value='{{system.bonus}}'
					placeholder='+1 Agility'
				/>
			</div>
			{{! add another div here for each stat/bonus }}
		</div>
		<div class='accessory-actions'>
			<button>SEND TO SOMEONE</button>
		</div>

	</section>
</form>