<form class='{{cssClass}} flexcol' autocomplete='off'>
	<link
		href='https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap'
		rel='stylesheet'
	/>
	<section class='weapon-top-section'>
		<img
			class='weapon-img'
			src='{{item.img}}'
			data-edit='img'
			title='{{item.name}}'
			height='200px'
			width='200px'
		/>
		<div class='weapon-title'>
			<div class='weapon-name'>
				<input
					name='name'
					type='text'
					value='{{item.name}}'
					placeholder='NAME'
				/>
			</div>
			<div class='weapon-rarity'>
				<label for='system.rarity'>RARITY:</label>
				<input
					name='system.rarity'
					type='text'
					value='{{system.rarity}}'
					placeholder='COMMON'
				/>
			</div></div>
	</section>

	{{! Sheet Body }}
	<section class='weapon-bottom-section'>
		<div class='stats'>
			<div class='requirement'>
				<label for='system.requirement'>REQUIRES:</label>
				<input
					name='system.requirement'
					type='text'
					value='{{system.requirement}}'
					placeholder=''
				/>
				<input
					name='system.requirement-type'
					type='text'
					value='{{system.requirement-type}}'
					placeholder='str'
				/>
			</div>
			<div class='damage'>
				<label for='system.damage'>DAMAGE:</label>
				<input
					name='system.damageFormula.diceCount'
					type='text'
					value='{{system.damageFormula.diceCount}}'
					placeholder='1'
				/>
				<input
					name='system.damageFormula.diceType'
					type='text'
					value='{{system.damageFormula.diceType}}'
					placeholder='d4'
				/>
				<input
					name='system.damageFormula.damageBonus'
					type='text'
					value='{{system.damageFormula.damageBonus}}'
					placeholder='1'
				/>
				<input
					name='system.damageType.damageType'
					type='text'
					value='{{system.damageType.damageType}}'
					placeholder='piercing'
				/>
			</div>
			<div class='accuracy'>
				<label for='system.accuracy'>
					ACCURACY:
				</label>
				<input
					name='system.accuracy'
					type='text'
					value='{{system.accuracy}}'
					placeholder='1'
				/>
			</div>
			<div class='range'>
				<label for='system.range'>
					RANGE:
				</label>
				<input
					name='system.range'
					type='text'
					value='{{system.range}}'
					placeholder='1'
				/>
			</div>
			{{! add another div here for each stat/bonus }}
		</div>
		<div class='weapon-actions'>
			<button>ROLL ACCURACY</button>
			<button>ROLL DAMAGE</button>
			<button>SEND TO SOMEONE</button>
		</div>

	</section>
</form>