<form class='{{cssClass}} flexcol' autocomplete='off'>
	<link
		href='https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap'
		rel='stylesheet'
	/>
	<section class='ammo-top-section'>
		<img
			class='ammo-img'
			src='{{item.img}}'
			data-edit='img'
			title='{{item.name}}'
			height='200px'
			width='200px'
		/>
		<div class='ammo-title'>
			<div class='ammo-name'>
				<input
					name='name'
					type='text'
					value='{{item.name}}'
					placeholder='NAME'
				/>
			</div>
			<div class='ammo-rarity'>
				<label for='system.rarity'>RARITY:</label>
				<input
					name='system.rarity'
					type='text'
					value='{{system.rarity}}'
					placeholder='COMMON'
				/>
			</div></div>
	</section>

	{{! Sheet Body }}
	<section class='ammo-bottom-section'>
		<div class='stats'>
			<div class='damage'>
				<label for='system.damage'>DAMAGE:</label>
				<input
					name='system.damageFormula'
					type='text'
					value='{{system.damageFormula}}'
					placeholder='1d4'
				/>
				<input
					name='system.type'
					type='text'
					value='{{system.type}}'
					placeholder='radiant'
				/>
			</div>
			{{! add another div here for each stat/bonus }}
		</div>
		<div class='ammo-actions'>
			<button>SEND TO SOMEONE</button>
		</div>

	</section>
</form>