<form class='{{cssClass}} flexcol' autocomplete='off'>
	<button class='edit-mode-toggle'>📝</button>
	{{! Sheet Tab Navigation }}
	<nav class='sheet-tabs tabs' data-group='primary'>
		<a class='item' data-tab='description'>Item Description</a>
		<a class='item' data-tab='attributes'>Edit effects</a>
	</nav>
	<div class='sheet-body'>
		<div class='tab' data-tab='description'>
			<section class='equipment-top-section'>
				<img
					class='equipment-img'
					src='{{item.img}}'
					data-edit='img'
					title='{{item.name}}'
					height='200px'
					width='200px'
				/>
				<div class='equipment-title'>
					<div class='equipment-name'>
						{{#if isEditing}}
							<!-- Editable fields here -->
							<input
								name='name'
								type='text'
								value='{{item.name}}'
								placeholder='NAME'
							/>
						{{else}}
							<!-- Non-editable display here -->
							<div>{{item.name}}</div>
						{{/if}}
					</div>
					<div class='equipment-rarity'>
						<label for='system.rating'>RATING:</label>
						{{#if isEditing}}
							<!-- Editable fields here -->
							<input
								name='system.rating'
								type='text'
								value='{{system.rating}}'
								placeholder='COMMON'
							/>
						{{else}}
							<!-- Non-editable display here -->
							<div>{{system.rating}}</div>
						{{/if}}
					</div>
				</div>
			</section>
			{{! Sheet Body }}
			<section class='equipment-bottom-section'>
				<div class='stats'>
					<div class='requirement'>
						<label for='system.requirement'>REQUIRES:</label>
						{{#if isEditing}}
							<!-- Editable fields here -->
							<input
								name='system.requirement.value'
								type='text'
								value='{{system.requirement.value}}'
								placeholder=''
							/>
							<input
								name='system.requirement.type'
								type='text'
								value='{{system.requirement.type}}'
								placeholder='str'
							/>
						{{else}}
							<!-- Non-editable display here -->
							<div>{{system.requirement.value}}
								{{system.requirement.type}}</div>
						{{/if}}
					</div>
					<div class='defense'>
						<label for='system.defense'>Defense:</label>
						{{#if isEditing}}
							<!-- Editable fields here -->
							<input
								name='system.defense'
								type='text'
								value='{{system.defense}}'
								placeholder='10'
							/>
							<input
								name='system.defenseType'
								type='text'
								value='{{system.defenseType}}'
								placeholder='armor'
							/>
						{{else}}
							<!-- Non-editable display here -->
							<div>{{system.defense}} {{system.defenseType}}</div>
						{{/if}}
					</div>
					{{! add another div here for each stat/bonus }}
				</div>
				<div class='equipment-actions'>
					<button>SEND TO SOMEONE</button>
				</div>
			</section>
		</div>
		<div class='tab' data-tab='attributes'>
			<ol><li>effect 1</li> <li>effect 2</li></ol></div>
	</div>
</form>